<div class="navbar bg-neutral h-10">
    <div class="flex-1 text-neutral-content">
        <a class="btn btn-ghost text-xl" routerLink="feed">Dev Tinder</a>
    </div>
    @if((loggedInuserDetails?.data?.emailId)){
    <p class="text-white">{{loggedInuserDetails?.data?.firstName | titlecase}} </p>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar flex">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component"  
                        src={{loggedInuserDetails?.data?.photoURL}} />

                </div>

            </div>

            <ul tabindex="0" class="menu menu-sm dropdown-content bg-white rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between" routerLink="profileUpdate">
                        Profile
                    </a>
                </li>
                <li><a class="justify-between" routerLink="requests">
                    Requests Received
                </a></li>
                <li><a class="justify-between" routerLink="connections">
                    Connections
                </a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
    }
</div>

@if(!(loggedInuserDetails?.data?.emailId)){
<app-login></app-login>
}