<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded-lg shadow-lg w-80">
        <form [formGroup]="changePasswordForm">
            <div class="flex justify-center self-center  z-10">
                <div class="p-6 bg-white mx-auto rounded-2xl w-100 ">
                    <div class="mb-3">
                        <h3 class="font-semibold text-2xl text-gray-800">Change Password</h3>
                    </div>
                    <div class="space-y-2">
                        <div class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">Email Id</label>
                            <input formControlName="emailId"
                                class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none"
                                type="" placeholder="Email ID">

                        </div>
                        <div class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">New Password</label>
                            <input formControlName="newPassword"
                                class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none"
                                type="password" placeholder="New Password">

                        </div>
                        <div class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">Confirm Password</label>
                            <input formControlName="confirmPassword"
                                class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none"
                                type="password" placeholder="Confirm Password">

                        </div>
                    </div>
                </div>
            </div>
            @if(showToaster){
            <div class="toast toast-center toast-middle">
                <div class="alert alert-success">
                    <span>Password updated successfully.</span>
                </div>
            </div>
            }
            <div class="w-full rounded-lg bg-green-500 mt-4 text-white text-lg font-semibold">
                <button type="button" class="w-full p-4" (click)="changePassword()">Change Password</button>
            </div>
        </form>
    </div>
</div>