<form [formGroup]="loginForm" *ngIf="!forgotPasswordFlag">
    <div class="  bg-center"
        style="background-image: url(https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80);">
        <div class="min-h-screen sm:flex sm:flex-row mx-0 justify-center">
            <div class="flex-col flex  self-center p-10 sm:max-w-5xl xl:max-w-2xl  z-10">
                <div class="self-start hidden lg:flex flex-col  text-white">
                    <img src="" class="mb-3">
                    <h1 class="mb-3 font-bold text-5xl">Welcome to Dev Tinder </h1>
                </div>
            </div>
            <div class="flex justify-center self-center  z-10">
                <div class="p-6 bg-white mx-auto rounded-2xl w-100 ">
                    <div class="mb-3">
                        <h3 class="font-semibold text-2xl text-gray-800">{{signupUser ? "Sign In" : "Sign Up" }}</h3>
                        <p class="text-gray-500">{{signupUser ?
                            "Please sign in to your account." :
                            "Please sign up to your account." }}</p>
                    </div>
                    <div class="space-y-2">
                        <div *ngIf="!signupUser" class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">First Name</label>
                            <input formControlName="firstName"
                                class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none"
                                type="" placeholder="First Name">

                        </div>
                        <div *ngIf="!signupUser" class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">Last Name</label>
                            <input formControlName="lastName"
                                class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none"
                                type="" placeholder="Last Name">

                        </div>
                        <div class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">Email</label>
                            <input formControlName="emailId"
                                class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none"
                                type="" placeholder="mail@gmail.com">
                            <div class="text-red-600"
                                *ngIf="!loginForm.controls['emailId'].valid && loginForm.controls['emailId'].dirty">
                                Email is required</div>
                        </div>
                        <div class="space-y-2">
                            <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
                                Password
                            </label>
                            <input formControlName="password"
                                class="w-full content-center text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-non"
                                type="password" placeholder="Enter your password">
                            <div class="text-red-600"
                                *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty">
                                Password is required</div>
                        </div>
                        <div class="text-red-600">{{loggedInuserErrorDetails?.message}}</div>
                        <div class="text-red-600" *ngIf="error$ | async as error">{{ error?.message }}</div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <input id="remember_me" name="remember_me" type="checkbox"
                                    class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded">
                                <label for="remember_me" class="ml-2 block text-sm text-gray-800">
                                    Remember me
                                </label>
                            </div>
                            <div class="text-sm" *ngIf="signupUser">
                                <a class="text-green-400 hover:text-green-500" (click)="forgotPassword()">
                                    Forgot your password?
                                </a>
                            </div>
                        </div>
                        <div>
                            <button type="submit" [disabled]="!loginForm.valid"
                                class="btn-primary w-full flex text-white justify-center  rounded-full  cursor-pointer disabled:bg-gray-300"
                                (click)="login(signupUser ? 'login' : 'signup')">
                                {{signupUser ? "Sign in" : "Sign up"}}
                            </button>
                        </div>
                        <p class="m-auto cursor-pointer py-2" (click)="signupUser = !signupUser">
                            {{signupUser ? "New User? Signup Here" : "Existing User? Login Here"}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
