<div class="mt-3 flex flex-col justify-center items-center">
    @for (item of requestRecieved; track item._id) {
    <div class="h-100 mb-3">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img class="w-full h-56 object-cover" [src]="item.photoURL" [alt]="item.firstName" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{item.firstName | titlecase}} {{item.lastName | titlecase}}</h2>
                <p>{{item.about}}</p>
                <span>{{item.skills}}</span>
                <div class="card-actions justify-end">
                    <button class="btn btn-secondary" (click)="reviewRequest('accepted',item._id)">Accept</button>
                    <button class="btn btn-primary" (click)="reviewRequest('rejected',item._id)">Reject</button>
                </div>
            </div>
        </div>
    </div>
    }
    @if(requestRecieved?.length === 0) {
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">No requests recieved</h2>
        </div>
    </div>
    }
</div>