<div class="mt-3 flex flex-col justify-center items-center">
    @for (item of connections; track item._id) {
    <div class="h-100 mb-3">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img class="w-full h-56 object-cover" [src]="item.photoURL" [alt]="item.firstName" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{item.firstName | titlecase}} {{item.lastName | titlecase}}</h2>
                <p>{{item.about}}</p>
                <span>{{item.skills}}</span>
            </div>
        </div>
    </div>
    }
</div>